<h1 class="page-title">Seat Yourself</h1>
<h2>Make a free reservation</h2>

<%= render 'primary_form' %>

<div class="restaurant_list"><ul>
<% @restaurants.each do |restaurant| %>
	<li><%= link_to(restaurant.name, restaurant_path(restaurant.id)) %></li>
<% end %>
</ul>
</div>